*{
    font-family: 'Roboto', sans-serif;
}

/* navbar */


.navbar a{
    color: white;
}
.navbar img{
    width: 25px;

}


/* Hero Section */
/* .item1{
    background-image: url("../img/carousel1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:100vh;
}
.item2{
    background-image: url("../img/carousel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:100vh;
}

.item3{
    background-image: url("../img/carousel3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:100vh;
} */

/* Section quienes somos */

#quienes-somos{
    background-color: black;
    color:white;
}

#quienes-somos hr{
    background-color: #2c9ca8;
}

#quieres-somos p{
    font-weight: 100;
}

#cont-ico{
background-color: #2c9ca8;
}

/* Destacados */

#destacados{
    background-color: black;
    color:white;
}
#destacados hr{
    background-color: #2c9ca8;
}

#destacados .card-body{
    background-color: #2c9ca8;
}

/* Contacto */
#formulario{
    display:none;
}

#contacto{
    background-color:black;
    color:white;
}
#contacto hr{
    background-color: #2c9ca8;
}

#contacto .btn-color{
    background-color: #2c9ca8;
}

/* Footer */
#footer{
    background-color: #2c9ca8;
    color: white;
}

#footer p{
    font-weight: 700;
}
#footer a{
    color: white;
}